
{% extends "layout.njk" %}


{% block content %}

    <form class="card" method="POST" action="/orcamentos">
       <section class="details">

            <h3>Renda Mensal</h3>

            {% include 'orcamentos/income.njk' %}
               
        </section>

        <section class="details">
           
            <h3>Novo Orçamento</h3>

            {% include 'orcamentos/fields.njk' %}

        </section>
    </form>

{% endblock %}