
<div class="item">
    <div>Mês</div>
    <div>
        <select name="month">
            <option value="janeiro" {% if orcamento.month == "janeiro"%}selected{%endif%}>
                Janeiro
            </option>
            <option value="fevereiro" {% if orcamento.month == "fevereiro"%}selected{%endif%}>
                Fevereiro
            </option>
            <option value="março" {% if orcamento.month == "março"%}selected{%endif%}>
                Março
            </option>
            <option value="abril" {% if orcamento.month == "abril"%}selected{%endif%}>
                Abril
            </option>
            <option value="maio" {% if orcamento.month == "maio"%}selected{%endif%}>
                Maio
            </option>
            <option value="junho" {% if orcamento.month == "junho"%}selected{%endif%}>
                Junho
            </option>
            <option value="julho" {% if orcamento.month == "julho"%}selected{%endif%}>
                Julho
            </option>
            <option value="agosto" {% if orcamento.month == "agosto"%}selected{%endif%}>
                Agosto
            </option>
            <option value="setembro" {% if orcamento.month == "setembro"%}selected{%endif%}>
                Setembro
            </option>
            <option value="outubro" {% if orcamento.month == "outubro"%}selected{%endif%}>
                Outubro
            </option>
            <option value="novembro" {% if orcamento.month == "novembro"%}selected{%endif%}>
                Novembro
            </option>
            <option value="dezembro" {% if orcamento.month == "dezembro"%}selected{%endif%}>
                Dezembro
            </option>
        </select>
    </div>
</div>

<div class="item">
    <div>Universidade (R$)</div>
    <input 
        type="number"  
        name="university"
        value="{{ orcamento.university}}" 
    >
</div>

<div class="item">
    <div>Alimentação (R$)</div>
    <input 
        type="number"  
        name="food"
        value="{{ orcamento.food}}" 
    >
</div>

<div class="item">
    <div>Conta de Telefone/Internet (R$)</div>
    <input 
        type="number"  
        name="telephone"
        value="{{ orcamento.telephone}}" 
    >
</div>

<div class="item">
    <div>Educa Mais Brasil (R$)</div>
    <input 
        type="number"  
        name="educabr"
        value="{{ orcamento.educabr}}" 
    >
</div>

<div class="item">
    <div>Cartão de Crédito (R$)</div>
    <input 
        type="number"  
        name="creditcard"
        value="{{ orcamento.creditcard}}" 
    >
</div>

<div class="item">
    <div>Gastos eventuais (R$)</div>
    <input 
        type="number"  
        name="any"
        value="{{ orcamento.any }}" 
    >
</div>

<div class="item">
    <div>Economia mensal (R$)</div>
    <input 
        type="number"  
        name="economy"
        value="{{ orcamento.economy}}" 
    >
</div>



<button type="submit">Salvar</button> 