<div class="item">
    <div>Salário (R$)</div>
    <input 
        type="number"  
        name="salario"
        value="{{ orcamento.salario}}" 
    >
</div>

<div class="item">
    <div>Vale Alimentação (R$)</div>
    <input 
        type="number"  
        name="valeAlimentacao"
        value="{{ orcamento.valeAlimentacao}}" 
    >
</div>

<div class="item">
    <div>Renda Extra (R$)</div>
    <input 
        type="number"  
        name="rendaExtra"
        value="{{ orcamento.rendaExtra}}" 
    >
</div>