{% extends "layout.njk" %}


{% block content %}

    <div class="card">
        <section class="details">

                <h3>Resumo: {{orcamento.month}}</h3>

                <div class="item">
                    <div>Salário (R$)</div>
                    <div>{{ orcamento.salario }}</div>
                </div>

                <div class="item">
                    <div>Vale alimentação (R$)</div>
                    <div>{{ orcamento.valeAlimentacao }}</div>
                </div>

                 <div class="item">
                    <div>Renda Extra (R$)</div>
                    <div>{{ orcamento.rendaExtra }}</div>
                </div>

                <div class="item">
                    <div>Renda mensal total (R$)</div>
                    <div>{{ orcamento.rendaTotal }}</div>
                </div>

                 <div class="item">
                    <div>Despesa mensal total(R$)</div>
                    <div>{{ orcamento.somaDespesas }}</div>
                </div>

                <div class="item">
                    <div>Economia mensal total (R$)</div>
                    <div>{{ orcamento.economy }}</div>
                </div>

                <div class="item">
                    <div>Saldo restante (R$)</div>
                    <div>{{ orcamento.saldo }}</div>
                </div>

                <div class="item">
                    <div>Criado em</div>
                    <div>{{ orcamento.created_at }}</div>
                </div>

                <h3 style="margin-top: 50px;">Gráfico com percentual da renda gasta</h3>


        </section>

        <section class="details">

            <h3>Despesas do mês de: {{ orcamento.month }}</h3>

            <div class="item">
                <div>Universidade (R$)</div>
                <div>{{ orcamento.university }}</div>
            </div>

            <div class="item">
                <div>Alimentação (R$)</div>
                <div>{{ orcamento.food }}</div>
            </div>

            <div class="item">
                <div>Telefone/Internet (R$)</div>
                <div>{{ orcamento.telephone }}</div>
            </div>

            <div class="item">
                <div>Educa Mais Brasil (R$)</div>
                <div>{{ orcamento.educabr }}</div>
            </div>

            <div class="item">
                <div>Cartão de Crédito (R$)</div>
                <div>{{ orcamento.creditcard }}</div>
            </div>

            <div class="item">
               <div>Gastos eventuais (R$)</div>
                <div>{{ orcamento.any }}</div>
            </div>

            <div class="item">
               <div>Economia mensal (R$)</div>
                <div>{{ orcamento.economy }}</div>
            </div>

                               

            <a href="/orcamentos/{{ orcamento.id }}/edit" class="button">Editar</a>

        </section>
    </div>

{% endblock %}